fastapi
uvicorn[standard]
sqlmodel
pydantic
pydantic-settings
asyncpg
alembic
psycopg2-binary
python-multipart
passlib[argon2]
python-jose[cryptography]
SQLAlchemy
cohere
bcrypt
openai
celery
python-dateutil